<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="To do list web app">
    <title>ToDo</title>
    <%- include('layouts/static') -%>
</head>

<body>
    <%- include('layouts/head') -%>
    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-9 bg-dark rounded shadow m-2 p-2 text-white">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde facere repellat suscipit laboriosam
                    atque
                    quae non aut incidunt, in quam est ipsa officia, illum amet expedita mollitia fugit beatae
                    quaerat?
                </p>
            </div>
        </div>
    </div>
    <%- include('layouts/foot') -%>
</body>

</html>