<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="To do list web app">
    <title>ToDo</title>
    <link rel="shortcut icon" href="/assets/images/todo.svg" type="image/x-icon">
    <link rel="stylesheet" href="/assets/stylesheets/style.css">
    <link rel="stylesheet" href="/assets/stylesheets/todo.css">
    <link rel="stylesheet" href="/assets/stylesheets/bootstrap.min.css">
    <script src="/assets/js/bootstrap.min.js"></script>
</head>

<body>
    <%- include('layouts/head') -%>
    <div class="container content">
        <div class="row justify-content-center">
            <% if (query && query.search) { %>
                <h5 class="col-9 border bg-primary rounded shadow p-2 m-2 text-center"> Search On:<%= query.search %> </h5>
            <% } %>
            <div class="col-9 bg-dark rounded shadow m-2 p-2 text-white">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde facere repellat suscipit laboriosam
                    atque
                    quae non aut incidunt, in quam est ipsa officia, illum amet expedita mollitia fugit beatae
                    quaerat?
                </p>
                <a href="/todo/1">Show Details..</a>
            </div>
        </div>
    </div>
    <%- include('layouts/foot') -%>
</body>

</html>